@model MediaLogSite.Models.User
@if ((int)Session["userID"] != 0)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a class="logo" href='@Url.Action("Details", "Users")'></a></li>
        <li>
            @Html.ActionLink("Hello " + Model.UserName + "!", "Edit", "Users", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Logoff", "Logout", "Users", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
